# Application settings
APP_NAME="Bist Mini 2 API"
ENV="development"
HOST="0.0.0.0"
PORT=8000
DEBUG=True

# API Configuration
API_V1_STR="/api/v1"

# Database Configuration
DATABASE_URL="postgresql+psycopg://postgres:postgres@localhost:5432/postgres"
